@model Libreria.Modelos.Pais

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model.Autores)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Autores" asp-route-id="@autor.Codigo">@autor.Nombre @autor.Apellido</a>
                </td>
                
                <td>
                    @autor.FechaNacmiento
                </td>

            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Editorial</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var editorial in Model.Editoriales)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Editoriales" asp-route-id="@editorial.Codigo">@editorial.Nombre</a>
                </td>

            </tr>
        }
    </tbody>
</table>


<div>
    @Html.ActionLink("Edit", "Edit", new { id  = Model.Codigo}) |
    <a asp-action="Index">Back to List</a>
</div>
